body {
    display: grid;
    background: #202124;
}

.links {
    float: right;
    padding-right: 10px;
}

.search-form, .image-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

input {
    display: block;
    border-radius: 6px;
}

input {
    outline: none;
    background-color: transparent;
    border: none;
    color: #e8eaed;
}